a:link {
    color: red;
}

a:visited {
    color: greenyellow;
}

.hover-anchor:hover {
    color: blueviolet;
}

p {
    color: bisque;
}

p:hover {
    color: darkorange;
}

.active:active {
    color: black;
}
