* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: red;
    text-transform: uppercase;
    margin: 20px 0;
}

.box-fixed {
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: whitesmoke;
    position: fixed;
    top: 50%;
    left: 50%;
}

.background {
    position: fixed;
    background-image: url(../images/robot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    inset: 0;
    z-index: -1;
}
