* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}

.sticky-content {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: red;
}

.navbar {
    padding: 10px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 1px solid;
    position: sticky;
    top: 0;
    z-index: 2;
}
